/* Add custom CSS styles to make your chatbot look pretty */
.chat-container {
  width: 80%;
  margin: 60px auto 60px;
  border: 1px solid #ccc;;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: left; /* Ensure text alignment to the left within the container */
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align children vertically */
  margin-bottom: 20px;
  text-align: center; /* Center the contents horizontally */
}

.title {
  font-size: 24px;
  margin: 0;
}
/*
.image-container {
  width: 100px; /* Adjust width as needed */
  /* height: 100px; /* Adjust height as needed */
  /*background-image: url('{% static "Travel_Agent_Chatbot/Travel_Agent_Chatbot.png" %}'); /* Specify the path to your image */
 /* background-size: cover; /* Ensure the image covers the container */
  /*background-position: center; /* Center the image */
 /* margin-top: 10px; /* Add margin to create space between title and image 
}*/

.messages {
  max-height: 300px;
  overflow-y: auto;
}

.message {
  padding: 8px 12px;
  margin-bottom: 8px; /* Adjust margin as needed */
  border-radius: 5px;
  max-width: 40%; /* Set a maximum width for the message box */
  word-wrap: break-word; /* Allow long messages to wrap */
}

.user {
  background-color: #0ca611;
  color: white;
  text-align: left;
  border-top-left-radius: 0; /* Remove border radius on the top left corner */
  margin-right: auto; /* Add margin to the right to separate the user message from the chatbot message */
}

.chatbot {
  background-color: #0d60a5;
  color: white;
  text-align: right;
  border-top-right-radius: 0; /* Remove border radius on the top right corner */
  margin-left: auto; /* Add margin to the left to separate the chatbot message from the user message */
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 8px 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
